---
name: Main

on:
  push:
    branches: [main]
    paths:
      - 'scripts/**'
      - '**/*.py'
      - 'pyproject.toml'
      - 'mise.toml'
      - '.github/workflows/main.yaml'
  pull_request:
    branches: [main]
    paths:
      - 'scripts/**'
      - '**/*.py'
      - 'pyproject.toml'
      - 'mise.toml'
      - '.github/workflows/main.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup
        uses: ./.github/actions/setup
      # - uses: pre-commit/action@9b88afc9cd57fd75b655d5c71bd38146d07135fe # v2.0.3
  # hadolint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
  #     - name: Run Hadolint
  #       uses: hadolint/hadolint-action@0bc6199b82f7c6bbd2d41b82d523294df01f8b8f # v1.7.0
  #       with:
  #         dockerfile: Dockerfile
