name: Docker Metrics Collector

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  collect-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Collect Docker Metrics
        run: poetry run collect-docker-metrics

      - name: Upload Metrics Data
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: metrics-data
          path: ./collected_metrics.yaml
