name: Docker Metrics Collector

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  collect-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        uses: ./.github/actions/setup

      - name: Collect Docker Metrics
        run: poetry run collect-docker-metrics

      - name: Upload Metrics Data
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: metrics-data
          path: ./collected_metrics.yaml
