name: Docker Release Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Generate Docker Image Tags
        run: poetry run generate-image-tags

      # - name: Apply Git Tags
      #   run: |
      #     git config --local user.email "action@github.com"
      #     git config --local user.name "GitHub Action"
      #     tags=$(cat generated_tags.json | jq -r 'to_entries[] | .value[0]')
      #     for tag in $tags; do
      #       git tag $tag
      #     done
      #     git push --tags

    # ... rest of the job steps for building and pushing Docker images
